<div class="container">
  <div class="container-article">
    <table>
      <!-- about -->
      <%= render "about" %>
      <tr>
      <% @articles.each do |article| %>
        <h3 class="article_title"><%= link_to article.title, article_path(article) %></h3>
        <div class="article_body"><%= toc(article.description) %><%= markdown(article.description) %></div>
        <div class="comment">
          <!-- コメントカウント -->
          コメント数: <%= ArticleComment.where(article_id: article.id).count %>
          <!-- いいね機能 -->
          <%= render 'articles/favorite', article: article %>
          <% article.article_categories.each do |category| %>
            <span class="article-category">#<%= category.name %></span>
          <% end %>
        </div>
      <% end %>
      </tr>
    </table>
    <hr>
    <!-- ページネーション -->
    <%= paginate @articles %>
  </div>
  <div class="container_index">
    <%= render "shared/sns" %>
  　<!-- 検索フォーム -->
    <%= render "articles/search", articles: @articles %>
    <!-- ランキング -->
    <%= render "articles/ranking", all_ranks: @all_ranks %>
    <!-- 自分の評価したランキング -->
    <%= render "articles/my_ranking", my_ranks: @my_ranks %>
    <!-- カテゴリー -->
    <%= render 'articles/side_categories', categories: @categories %>
  </div>
</div>