<div class="container">
<%= form_with model: @article, local: true do |f| %>
      <p><%= f.label :タイトル %></p>
      <p><%= f.text_field :title, class: "text_field_title" %></p>
      <p><%= f.label :記事 %></p>
      <p><%= f.text_area :description %></p>
      <p><%= f.submit class: "button" %></p>
<% end %>
</div>