<div class="container">
  <div class="container_article">
    <% @articles.each do |article| %>
      <h3 class="article_title"><%= link_to article.title, article_path(article) %></h3>
      <div class="article_body"><%= markdown(article.description).html_safe %></div>
      <div class="comment">
        コメント数: <%= ArticleComment.where(article_id: article.id).count %>
        <!-- いいね機能 -->
        <%= render 'articles/favorite', article: article %>
        <!-- カテゴリー -->
        <%= render 'articles/category', article: article %>
      </div>
    <% end %>
    <div><hr>
      <!-- ページネーション -->
      <%= paginate @articles %>
    </div>
  </div>
  <div class="container_index">
    <%= render "shared/sns" %>
    <!-- 検索フォーム -->
    <%= render "articles/search", articles: @articles %>
    <!-- ランキング -->
    <%= render "articles/ranking", all_ranks: @all_ranks %>
    <% if current_user %>
      <!-- 自分の評価したランキング -->
      <%= render "articles/my_ranking", my_ranks: @my_ranks %>
    <% end %>

    <div class="ranking_side_index">
    <hr>
    <h4 class="category-title">カテゴリー</h4>
      <% @categories.each do |category| %>
        <li class="category-index"><%= category.name %></li>
      <% end %>
    </div>

  </div>
</div>
