<!-- エラーメッセージ -->
<%= render 'shared/error_messages', user: @user %>
<div class="container">
  <div class="container-article">
    <h1>アカウント情報編集</h1>
    <%= form_with model: @user, local: true do |f| %>
          <p><%= f.label :name %></p>
          <p><%= f.text_field :name %></p>
          <p><%= f.label :email %></p>
          <p><%= f.email_field :email %></p>
          <p><%= f.label :password %></p>
          <p><%= f.password_field :password %></p>
          <p><%= f.label :password %></p>
          <p><%= f.password_field :password_confirmation %></p>
          <p><%= f.submit "変更する", class: "button" %></p>
    <% end %>
  </div>
</div>