<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li class="errors"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <div class="container_article">
    <h1>新規登録</h1>
    <%= form_with model: @user, url: :users, local: true do |f| %>
          <p><%= f.label :name %></p>
          <p><%= f.text_field :name %></p>
          <p><%= f.label :email %></p>
          <p><%= f.email_field :email %></p>
          <p><%= f.label :password %></p>
          <p><%= f.password_field :password %></p>
          <p><%= f.label :password %></p>
          <p><%= f.password_field :password_confirmation %></p>
          <p><%= f.submit "登録", class: "button" %></p>
    <% end %>
  </div>
</div>