<p class="user"><%= "ニックネーム　　　　 #{@user.name}" %></p>
<p class="user"><%= "メールアドレス #{@user.email}" %></p>
<%= link_to "記事を書く", :new_article, class: "button" %>
<div class="container_show">
  <% @user.articles.each do |article| %>
    <div class="container_article">
        <h3 class="article_title"><%= link_to article.title, article_path(article) %></h3>
        <div class="article_body"><%= markdown(article.description).html_safe %></div>
    </div>
    <%= link_to "編集", edit_article_path(article), class: "button" %>
    <%= link_to "削除", article_path(article), method: :delete, date:
        { confirm: "「#{article.title}」を消すよ。本当にいいの( *´艸｀)？"}, class: "button"%>
    <%= link_to "記事を書く", :new_article, class: "button" %>
  <% end %>
  <!-- 月別アーカイブ -->
  <%= render "users/archive", archives: @archives %>
</div>
