<header>
  <nav>
    <ul>
      <li class="logo"><%= link_to "THE ORIGIN", root_path, class: "header_button" %></li>
      <li><%= link_to "記事一覧", :articles, class: "header_button" %></li>

      <% if current_user %>
        <li><%= link_to "ログアウト", :logout, method: :delete, class: "header_button" %></li>
        <li><%= link_to "アカウント", user_path(current_user), class: "header_button"  %></li>
      <% else %>
        <li><%= link_to "ログイン", :login, class: "header_button" %></li>
      <% end %>
    </ul>
  </nav>
</header>
